@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .img-container{
    width: 100%;
    height: 450px;
}

.card-img-top{    
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-title{
    height:45px;
}


</style>
<div class="row pb-3" style="z-index:-900;">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px; ">
                    <div class="card">
                         <div class="img-container mx-auto my-2">
                              <a>
                                   <img src="@product.ImageUrl" class="card-img-top"/>
                              </a> 
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div class="pl-1 justify-content-between align-items-center">
                                <h5 class="card-title">
                                    @product.Title
                                </h5>
                                <p class="card-subtitle mb-2 text-info">by <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p>List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                            </div>
                             <div class="pl-1">
                                <p>As low as: <b>$@product.Price100.ToString("0.00")</b></p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    Put rating here
                                </div>
                                @if(User.Identity.IsAuthenticated)
                                {
                                    @if(product.IsFavourite)
                                    {
                                         <a asp-action="RemoveFromFavourite" asp-route-id="@product.Id" asp-route-isFromFavouritesPage="true">
                                            <i id="icon" class="bi bi-bookmark-heart-fill"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="AddToFavourite" asp-route-id="@product.Id" asp-route-isFromFavouritesPage="true">
                                            <i id="icon" class="bi bi-bookmark-heart"></i>
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary form-control">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts{
    <script>
    
    </script>

}