@model BulkyBook.Models.ViewModels.ProductReviewVM
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .card{
        height: 560px;
    } 
    .img-container{
    width: 100%;
    height: 350px;
}

   .img-container img{
    width: 90%;
    height: 100%;
    margin-left:1rem;

}

/*.card-img-top{    
    object-fit: cover;
    width: 100%;
    height: 100%;
}*/

.card-title{
    height:45px;
}


.colored{
    color:darkorange;
}

</style>
<div class="my-3">
     <form asp-action="Index">
        <div class="row d-flex">
            <div class="col-xxl-6 d-flex flex-row justify-content-between">
                <div class="">Please select : </div>
             <select id="selectCategory" class="" asp-for="@Model.CategoryId" asp-items="@Model.CategoryList"
                     class="form-select">
                <option >--Select Category--</option>
            </select>
             <input placeholder="book or author" class="" asp-for="@Model.BookOrAuthorName" placeholer="Name of the book or author" />
            <button type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
<div id="productsTable" class="row pb-3" style="z-index:-900;">
    @foreach (var product in Model.Products)
    {
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px; ">
                    <div class="card border border-danger">
                         <div class="img-container mx-auto border border-success">
                              <a>
                                   <img src="@product.ImageUrl" class="card-img-top"/>
                              </a> 
                        </div>
                        <div class="card-body d-flex flex-column border border-primary">
                            <div class="pl-1 justify-content-between align-items-center">
                                <h5 class="card-title">
                                    @product.Title
                                </h5>
                                <p class="card-subtitle mb-2 text-info">by <b>@product.Author</b></p>
                            </div>
                            

                            <div class="pl-1">
                                <p>List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                            </div>
                             <div class="pl-1">
                                <p>As low as: <b>$@product.Price100.ToString("0.00")</b></p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="star-container mb-2">
                                    @if(product.AvgRating==0)
                                    {
                                        <h6 class="colored">Not rated yet</h6>
                                    }
                                    else
                                    {
                                        @for (int i = 0; i < product.AvgRating; i++)
                                        {
                                            <i class="ratingStar bi bi-star-fill colored mx-1"></i>
                                        }
                                        @for (int i = product.AvgRating; i < 5; i++)
                                        {
                                            <i class="ratingStar bi bi-star colored mx-1"></i>
                                        }
                                    }
                                </div>
                                @if(User.Identity.IsAuthenticated)
                                {
                                    @if(product.IsFavourite)
                                    {
                                         <a asp-action="RemoveFromFavourite" asp-route-id="@product.Id" asp-route-isFromFavouritesPage="false">
                                            <i id="icon" class="bi bi-bookmark-heart-fill"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="AddToFavourite" asp-route-id="@product.Id" asp-route-isFromFavouritesPage="false">
                                            <i id="icon" class="bi bi-bookmark-heart"></i>
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary form-control">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts{
    <script>
       //$(document).ready(() => {
       //   var button = $("#click_favourite");
       //    var favourite_icon = button.find("i");
       //   button.click(() => {
       //       if(favourite_icon.hasClass('bi-bookmark-heart'))
       //       button.html("<i class='bi bi-bookmark-heart-fill'></i>");
           
       //   });

//$(document).ready(()=>{
//    var selected = $("#selectCategory").change(()=>
//    {
//         var catID = $('#selectCategory').val();

//          event.preventDefault();
//                var urlZaPoziv = '';
                

//                $.ajax({
//                    type: "POST",
//                    url: urlZaPoziv,
//                    data: { catID: catID },
//                    success: function(data) {
//                        $("#loadReviewComponent").html(data);
//                    }
//                });
//    });
//});

function change_Icon(id) {
    //try to figure it out later

    //var btn_id = "click_favourite_"+id;
    
    //var btn = document.getElementById(btn_id);
    //var favourite_icon = btn.closest("i");
         
    //if(favourite_icon.matches('bi bi-bookmark-heart'))
    //btn.html("<i class='bi bi-bookmark-heart-fill'></i>");

};
    </script>

}