@model BulkyBook.Models.ViewModels.ProductReviewVM

<style>

    .title{
        /*color:#2f4c54;*/
/*          font-family: 'Cinzel Decorative', cursive;
*/          font-size:4rem !important;
color:black;
    }

    .carousel{
        width:100%;

    }

    .carousel-item {
    height: 90vh;
    min-height: 350px;
    width:100%;
    /*background: no-repeat  center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
  
    background-size: cover !important;
 
  }

  .carousel-caption{
/*           font-family: 'Cinzel Decorative', cursive;
*/color:white;
    position:absolute;
    top:44%;
    left:15%;
    text-align:start !important;
  }

  .carousel-caption a{
      background:rgba(0,0,0,.3);
      width:auto;
      padding:1rem;
      text-decoration:none;
      color:white;
      font-size:2rem;
  }

  .carousel-caption p{
      font-size:1.8rem;
  }

  #header-slider{
      margin:0px !important;
      padding:0px !important;
      
  }

  .slider-text-1{
/*     font-family: 'Cinzel Decorative', cursive;
*/     color:white;
    top:26%;
    /*bottom:14%;*/
    left:15%;
     font-size:8rem;
  }

    .slider-text-2{
/*     font-family: 'Cinzel Decorative', cursive;
*/     color:white;
     top:26%;
    /*bottom:14%;*/
    left:15%;
     font-size:8rem;
  }

    .slider-text-3{
/*     font-family: 'Cinzel Decorative', cursive;
*/     color:white;
     top:26%;
    /*bottom:14%;*/
    left:15%;
     font-size:8rem;
  }

  .square{
      width:18rem !important;
      height:1rem !important;
  }

 .find-book{
       height:3px !important;
  }

  .btn-find{
      width:18rem;
      border-radius:10px;
/*      heigth:1rem !important;
*/      height:6px;
  }

  .books-search .form-control {
/*       font-family: 'Cinzel Decorative', cursive;
*/    position: relative;
    border:1px solid #2f4c54;
    
    border-radius: 4px;
    background:white;
    /*/*background: #b49c96;*/
    box-shadow: none;
    font-size: 12px;
    line-height: 20px;
    color:rgb(25,42,44);
    font-weight:bold;
    font-size:.9rem;
}

.form-control::placeholder{
    /* font-family: 'Cinzel Decorative';*/
    color:black;
    font-weight:bold;
    opacity:1;
    font-size:.9;
}

.books-search .btn, .card-featured .btn
{
/*    font-family: 'Cinzel Decorative', cursive;
*/    
/*border-color: #2C3639 !important;
*/    color: #ffffff !important;
 /*  background:	#2f4c54;*/
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
/*    border-radius:22px !important;
*/    width:14rem;
}

.more{
    border-color: #2C3639 !important;
    color: #ffffff !important;
   background:#0D2323;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.blue-bg{
    background-color:rgba(26, 66, 71,.2);
/*     box-shadow: rgba(56, 56, 54,.6) 0 0 1000px 1000px inset;
*/
}

.dark-blue-bg{
    background-color:rgb(22, 39, 41);
}

#browse{
    background-image: url("/images/homepage/header4.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height:40vh;
     box-shadow: rgba(56, 56, 54,.6) 0 0 1000px 1000px inset;
     display:flex;
}

#browse h3,a{
   /* font-family: 'Cinzel Decorative', cursive;*/
}

.card .img-container{
    height:330px;
    width:250px;
    padding: 8px 8px 0 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
   /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;*/
    border-radius: 2px;
    box-shadow: 2px 2px 7px rgb(0 0 0 / 30%);
}

.img-container img{ 
    width:100%;
    height:100%;
    margin: 0;
    /*border-radius: 2px;
    box-shadow: 2px 2px 7px rgb(0 0 0 / 30%);*/
    
}

.bestseller-details{
   /*  border-bottom-left-radius: 8px;
     border-bottom-right-radius:8px;*/
    border: 1px solid #bfc7c8;
    border-radius: 10px;
    width:60%;
    background:#2f4c54;
    color:white;
}

.card{
   /* font-family: 'Cinzel Decorative', cursive;*/
    height:auto;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
    border:36px solid transparent;
 /*   border-image: url(images/golden-border.png) 10% round;*/
  
}

.vintage-border{
    left:0%;
}

.card-body{
    /*position: relative;
    padding: 20px 30px 10px;*/
/*    padding-left:0;
*/}

/*FEATURED IMG*/

.card.card-featured{
    height:500px;
}

.card-featured img{
    height:500px;
    width:100%;
}

/*CATEGORIES*/
 .cat{
    height:110px !important;
    background:rgba(56, 56, 54,.64);
    
}

 .browse-btn
{
    border-color: #2C3639 !important;
    color: #ffffff !important;
    background:#0D2323;
    width:100%;
}

</style>
  <div style="background-color:white">

<section id="header-slider border border-primary" class="p-0 m-0">
    <div class="container-fluid">
    <div id="carouselExampleCaptions" class="carousel m-0 p-0 slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active position-relative" style="background-image: url('/images/homepage/slider-01.jpg')">
            <div class="">
                <div class="slider-text-1 position-absolute">Welcome</div>
            </div>
           
              <div class="carousel-caption">
                <p class="carousel-quote">“Reading is dreaming with open eyes.”</p>
                <h5 class="text-white mb-4"><a asp-controller="Book" asp-action="Index"> Keep reading -></a></h5>
              </div>
        </div>
        <div class="carousel-item" style="background-image: url('/images/homepage/slider-02.jpg')">
            <div class="">
                <div class="slider-text-2 position-absolute">Keep learning</div>
            </div>
          <div class="carousel-caption">
            <p>“In principle and reality, libraries are life-enhancing palaces of wonder.”</p>
            <h5 class="text-white mb-4"><a asp-controller="Book" asp-action="Index" class="">Visit our library -></a></h5>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('/images/homepage/slider-03.jpg')">
            <div class="">
                <div class="slider-text-3 position-absolute">Meet our authors</div>
            </div>
          <div class="carousel-caption">
            <p>“Books are wisest of counselors, and the most patient of teachers.”</p>
            <h5 class="text-white mb-4"><a href="#new_arrivals">New arrivals -></a></h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>
  </section>



  <div class="container books-search my-3">
     <form asp-action="Index">
        <div class="row d-flex flex-row justify-content-between">
            <div class=" d-flex flex-row ">
            <div class="col-sm-6 col-md-3 me-4">
			    <div class="form-group">
				    <input name="s" value="" type="text" class="form-control" id="keyword" placeholder="Book Title">
			    </div>
		    </div>        
            <div class="col-sm-6 col-md-3 me-4">
			    <div class="form-group">
                    <select  id="selectCategory" class="form-control" asp-for="@Model.CategoryId" asp-items="@Model.CategoryList"
                     >
                        <option >--Book Category--</option>
                    </select>
                    <i class="select-arrow fa fa-angle-down"></i>
			    </div>
		    </div>
             <div class="col-sm-6 col-md-3 me-4">
			    <div class="form-group">
                    <select  id="selectAuthor" class="form-control" asp-for="@Model.CategoryId" asp-items="@Model.CategoryList"
                  >
                        <option >--Book Author--</option>
                    </select>
                    <i class="select-arrow fa fa-angle-down"></i>
			    </div>
		    </div>
                
            <div class="col-sm-6 col-md-3">
					<div class="form-group">
						<input type="hidden" name="post_type" value="product">
						<button type="submit" class="btn btn-block btn-primary">
							<i class="fa fa-search"></i> &nbsp; 
							Find Book						
                        </button>
					</div>
				</div>
            </div>
        </div>
    </form>
</div>


@*****************************************************BESTSELLERS***************@
<div class="container-fluid ">
    <div class="container">
       <div class="row d-flex justify-content-center align-items-center mb-3">  
            <div class="col-xxl-12 justify-content-center text-center">
                <h3 class="title mt-5 mb-2 mt-3" id="titles1">Bestsellers</h3>    
            </div>
            <div id="productsTable" class="row pb-5 mb-5">
            @foreach (var product in Model.Bestsellers)
            {
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
                    <div class="row p-2">
                        <div class="col-12 p-1" style=" border-radius: 5px; ">
                            <div class="card d-flex flex-column justify-content-between">
@*                               <img src="~/images/golden-border.png" class="vintage-border" class="position-absolute">
*@                                <div class="img-container mx-auto border">
                                    <a>  
                                        <img src="@product.ImageUrl" />
                                       
                                    </a> 
                                </div>
                                <div class="card-body d-flex flex-column" style="font-size:.8rem; width:250px;">
                                    <div class=" justify-content-between ">
                                        <h5 class="card-title " style="width:240px;height:2rem; font-size:.8rem;">
                                            @product.Title
                                        </h5>
                                        <p class="card-subtitle mb-2 text-info">by <b>@product.Author</b></p>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between">
                                        <div>
                                            <strike><b>$@product.ListPrice.ToString("0.00")</b></strike>
                                        </div>
                                        <div>
                                            <b>$@product.Price100.ToString("0.00")</b>
                                        </div>
                                    </div>
                                    @*<div class="pl-1">
                                        <p>List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                                    </div>
                                        <div class="pl-1">
                                        <p>As low as: <b>$@product.Price100.ToString("0.00")</b></p>
                                    </div>*@
                           
                                </div>
                                 <div class="text-center">
                                <a asp-action="Details" asp-route-productId="@product.Id" class="btn mt-2 mb-1 border btn-primary form-control">Details</a>
                            </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            }
        </div>

         </div>
    </div>
</div>


@****************************************FEATURED***************************@
<div class="container-fluid bg-white mb-3">
    <div class="container">
       <div class="row d-flex justify-content-center align-items-center"> 
           <div class="col-xxl-12 justify-content-center text-center">
                <h3 class="title mt-5 mb-5 mt-3" id="titles1">Featured</h3>    
            </div>
            <div class="col-xxl-12 justify-content-center text-center">
                <h3 class="title mt-3 mb-5" id="titles1"></h3>    
            </div>
            <div id="productsTable" class="row pb-3">
                <div class="col-xxl-4 col-xl-3 col-lg-3 col-sm-6">
                    <div class="row p-2">
                        <div class="col-12 p-1">
                            <div class="card card-featured " style="border:none;">
                                   <div class="card-body d-flex flex-column justify-content-center">
                                       <div>Featured book</div>
                                        <div class="pl-1 my-3 justify-content-between align-items-center">
                                            <h5 class="card-title">
                                                Title of the book
                                            </h5>
                                            <p class="card-subtitle mb-2 text-info">by <b>Author of the boook</b></p>
                                        </div>
                            
                                         <div>
                                             From advanced selectors to generated content to web fonts, and from 
                                             gradients, shadows, and rounded corners to elegant animations, CSS3 hold a 
                                             universe of creative possibilities.
                                             No one can better guide you through these galaxies than Dan Cederholm.
                                         </div>
                                         <button class="btn more mt-5">Get this book</button>
                                    </div>
                                   
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-3 col-lg-3 col-sm-6">
                    <div class="row p-2">
                        <div class="col-12 p-1" >
                            <div class="card card-featured" style="border:none;">
                                    <div class="mx-auto">
                                        <a>
                                            <img src="~/images/products/04eb22b6-901d-4fec-8068-72e4859d0d68.jpg" class="" 
                                            style="border-radius:5px;"/>
                                        </a> 
                                </div>
                       
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-3 col-lg-3 col-sm-6">
                    <div class="row p-2">
                        <div class="col-12 p-1" >
                            <div class="card card-featured" style="border:none;">
                                    <div class="">
                                        <a>
                                            <img src="~/images/products/12622e2e-9986-45bd-a65d-0740b4b02609.jpg" class=""
                                            style="border-radius:5px;"/>
                                        </a> 
                                </div>
                       
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>

         </div>
    </div>
</div>

@*********************************************POPULAR CATEGORIES**********************@
<div class="container-fluid dark-blue-bg">
    <div class="container">
       <div class="row d-flex justify-content-center align-items-center">  
            <div class="col-xxl-12 justify-content-center text-center">
                <h3 class="title mt-3 mb-5 text-white" id="titles1">Popular categories</h3>    
            </div>
            <div id="productsTable" class="row pb-5 mb-5">
            @foreach (var category in Model.PopularCategories)
            {
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
                    <div class="row p-2">
                        <div class="col-12 p-1" style=" border-radius: 5px; ">
                            <div class="card cat">
                                    <div class="img-container-cat mx-auto">
                                        @*<a>
                                            <img src="@product.ImageUrl" class="card-img-top"/>
                                        </a> *@
                                </div>
                                <div class="card-body d-flex flex-column">
                                    <div class="pl-1 justify-content-between align-items-center">
                                        <h5 class="card-title text-center" style="height:2rem;">
                                            @category.Name
                                        </h5>
                                        <button class="btn browse-btn">BROWSE -></button>
                                    </div>
                            
                           
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            }
        </div>

         </div>
    </div>
</div>

@************************************************BROWSE*********************************@
<div id="browse" class="m-0 p-0">
    <div class="container-fluid">
        <div class="container d-flex justify-content-center align-items-center h-100">
           <div class="row d-flex justify-content-center align-items-center text-center">
                <h3 class="text-white">Browse Through Our Complete Library</h3>
                <a asp-controller="Book" asp-action="Index" class="text-white">Browse collection -></a>
           </div>
        </div>
     </div>
</div>

@*****************************************************NEW BOOKS***************@
<div class="container-fluid">
    <div class="container" id="new_arrivals">
       <div class="row d-flex justify-content-center align-items-center mb-5">  
            <div class="col-xxl-12 justify-content-center text-center">
                <h3 class="title mt-3 mb-5" id="titles1">New arrivals</h3>    
            </div>
            <div id="productsTable" class="row pb-5 mb-5">
            @foreach (var product in Model.NewBooks)
            {
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
                    <div class="row p-2">
                        <div class="col-12 p-1" style=" border-radius: 5px; ">
                            <div class="card d-flex flex-column justify-content-between">
                                <div class="img-container mx-auto">
                                    <a>
                                        <img src="@product.ImageUrl" class=""/>
                                    </a> 
                                </div>
                                <div class="card-body d-flex flex-column mx-auto" style="font-size:.8rem; width:230px;">
                                    <div class=" justify-content-between align-items-center">
                                        <h5 class="card-title px-auto" style="width:230px;height:2rem; font-size:.8rem;">
                                            @product.Title
                                        </h5>
                                        <p class="card-subtitle mb-2 text-info" style="height:2.5rem;">by <b>@product.Author</b></p>
                                    </div>
                                    <div class="d-flex flex-row justify-content-between">
                                        <div>
                                            <strike><b>$@product.ListPrice.ToString("0.00")</b></strike>
                                        </div>
                                        <div>
                                            <b>$@product.Price100.ToString("0.00")</b>
                                        </div>
                                    </div>
                                    @*<div class="pl-1">
                                        <p>List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                                    </div>
                                        <div class="pl-1">
                                        <p>As low as: <b>$@product.Price100.ToString("0.00")</b></p>
                                    </div>*@
                           
                                </div>
                                <div>
                                <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary form-control">Details</a>
                            </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            }
        </div>

         </div>
    </div>
</div>

</div>


@**********************************LAST ADDED BOOKS********************************@
@*<div class="container-fluid blue-bg">
    <div class="container">
       <div class="row d-flex justify-content-center align-items-center">  
            <div class="col-xxl-12 justify-content-center text-center">
                <h3 class="title mt-3 mb-5" id="titles1">Nove knjige</h3>    
            </div>
            <div id="productsTable" class="row pb-3">
    @foreach (var product in Model.Products.OrderBy(x=>x.CreatedAt).Take(4))
    {
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px; ">
                    <div class="card">
                         <div class="img-container mx-auto">
                              <a>
                                   <img src="@product.ImageUrl" class="card-img-top"/>
                              </a> 
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div class="pl-1 justify-content-between align-items-center">
                                <h5 class="card-title">
                                    @product.Title
                                </h5>
                                <p class="card-subtitle mb-2 text-info">by <b>@product.Author</b></p>
                            </div>
                            
                            <div class="pl-1">
                                <p>List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                            </div>
                             <div class="pl-1">
                                <p>As low as: <b>$@product.Price100.ToString("0.00")</b></p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="star-container mb-2">
                                    @if(product.AvgRating==0)
                                    {
                                        <h6 class="colored">Not rated yet</h6>
                                    }
                                    else
                                    {
                                        @for (int i = 0; i < product.AvgRating; i++)
                                        {
                                            <i class="ratingStar bi bi-star-fill colored mx-1"></i>
                                        }
                                        @for (int i = product.AvgRating; i < 5; i++)
                                        {
                                            <i class="ratingStar bi bi-star colored mx-1"></i>
                                        }
                                    }
                                </div>
                                @if(User.Identity.IsAuthenticated)
                                {
                                    @if(product.IsFavourite)
                                    {
                                         <a asp-action="RemoveFromFavourite" asp-route-id="@product.Id" asp-route-isFromFavouritesPage="false">
                                            <i id="icon" class="bi bi-bookmark-heart-fill"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="AddToFavourite" asp-route-id="@product.Id" asp-route-isFromFavouritesPage="false">
                                            <i id="icon" class="bi bi-bookmark-heart"></i>
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary form-control">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

         </div>
    </div>
</div>
*@






@***************************OLD CODE********************************@

@*@model BulkyBook.Models.ViewModels.ProductReviewVM
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .card{
        height: 570px;
    } 
    .img-container{
    width: 100%;
    height: 360px;
}

   .img-container img{
    width: 100%;
    height: 100%;
    

}
/*
#icon{
    height:40px;
    width:40px;
}*/

/*.card-img-top{    
    object-fit: cover;
    width: 100%;
    height: 100%;
}*/

.card-title{
    height:45px;
}


.colored{
    color:darkorange;
}

</style>
<div class="my-3">
     <form asp-action="Index">
        <div class="row d-flex">
            <div class="col-xxl-7 d-flex flex-row justify-content-between">
                <div class="h4 my-auto d-flex flex-column align-items-center">Please select : </div>
             <select id="selectCategory" class="" asp-for="@Model.CategoryId" asp-items="@Model.CategoryList"
                     class="form-select">
                <option >--Select Category--</option>
            </select>
             <input placeholder="book or author" class="" asp-for="@Model.BookOrAuthorName" placeholer="Name of the book or author" />
            <button class="btn btn-info" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>
<div id="productsTable" class="row pb-3" style="z-index:-900;">
    @foreach (var product in Model.Products)
    {
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px; ">
                    <div class="card">
                         <div class="img-container mx-auto">
                              <a>
                                   <img src="@product.ImageUrl" class="card-img-top"/>
                              </a> 
                        </div>
                        <div class="card-body d-flex flex-column">
                            <div class="pl-1 justify-content-between align-items-center">
                                <h5 class="card-title">
                                    @product.Title
                                </h5>
                                <p class="card-subtitle mb-2 text-info">by <b>@product.Author</b></p>
                            </div>
                            
                            <div class="pl-1">
                                <p>List Price: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
                            </div>
                             <div class="pl-1">
                                <p>As low as: <b>$@product.Price100.ToString("0.00")</b></p>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="star-container mb-2">
                                    @if(product.AvgRating==0)
                                    {
                                        <h6 class="colored">Not rated yet</h6>
                                    }
                                    else
                                    {
                                        @for (int i = 0; i < product.AvgRating; i++)
                                        {
                                            <i class="ratingStar bi bi-star-fill colored mx-1"></i>
                                        }
                                        @for (int i = product.AvgRating; i < 5; i++)
                                        {
                                            <i class="ratingStar bi bi-star colored mx-1"></i>
                                        }
                                    }
                                </div>
                                @if(User.Identity.IsAuthenticated)
                                {
                                    @if(product.IsFavourite)
                                    {
                                         <a asp-action="RemoveFromFavourite" asp-route-id="@product.Id" asp-route-isFromFavouritesPage="false">
                                            <i id="icon" class="bi bi-bookmark-heart-fill"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="AddToFavourite" asp-route-id="@product.Id" asp-route-isFromFavouritesPage="false">
                                            <i id="icon" class="bi bi-bookmark-heart"></i>
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary form-control">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts{
    <script>
       //$(document).ready(() => {
       //   var button = $("#click_favourite");
       //    var favourite_icon = button.find("i");
       //   button.click(() => {
       //       if(favourite_icon.hasClass('bi-bookmark-heart'))
       //       button.html("<i class='bi bi-bookmark-heart-fill'></i>");
           
       //   });

//$(document).ready(()=>{
//    var selected = $("#selectCategory").change(()=>
//    {
//         var catID = $('#selectCategory').val();

//          event.preventDefault();
//                var urlZaPoziv = '';
                

//                $.ajax({
//                    type: "POST",
//                    url: urlZaPoziv,
//                    data: { catID: catID },
//                    success: function(data) {
//                        $("#loadReviewComponent").html(data);
//                    }
//                });
//    });
//});

function change_Icon(id) {
    //try to figure it out later

    //var btn_id = "click_favourite_"+id;
    
    //var btn = document.getElementById(btn_id);
    //var favourite_icon = btn.closest("i");
         
    //if(favourite_icon.matches('bi bi-bookmark-heart'))
    //btn.html("<i class='bi bi-bookmark-heart-fill'></i>");

};
    </script>

}*@