@model BulkyBook.Models.ViewModels.ReviewVM

@*@{
    Layout = "_Layout";
}*@

<style>
    
</style>
 <script type="text/javascript">

      function creteOut(rating){
            for (var i = 1; i <= rating; i++)
            {
                $("#icon" + i).attr('class', 'ratingStar bi bi-star icon-star mx-1');
            }
        }
        function createOver(rating)
        {
             for (var i = 1; i <= rating; i++)
            {
                $("#icon" + i).attr('class', 'ratingStar bi bi-star-fill mx-1');
            }
        }
        function createClick(rating)
        {
            $("#lblRating").val(rating);
            for(var i=1; i<=rating; i++)
            {
                $("#icon" + i).attr('class', 'ratingStar bi bi-star-fill mx-1');
            }
            for(var i=rating+1; i<=5; i++)
            {
                $("#icon" + i).attr('class', 'ratingStar bi bi-star icon-star mx-1');
            }
        }
        function createSelected() {
            var rating= $("#lblRating").val();
            for(var i=1; i<=rating; i++)
            {
                $("#icon" + i).attr('class', 'ratingStar bi bi-star-fill mx-1');
            }
        }



      </script>

@if(@Model.Reviews.Count()>0){
<div class="container review">
    <h1>Reviews</h1>
    <div class="what-people-think-about-book-div">What people think about <strong>"@Model.Title"</strong></div>
    <div class="rating-number">
        @Model.AvgRating
    </div>
    <div class="star-container mb-2">
         @for(int i=0; i<Model.AvgRating;i++)
                {
                    <i class="ratingStar bi bi-star-fill mx-1"></i> 
                }
                @for(int i=Model.AvgRating; i<5; i++)
                {
                    
                    <i class="ratingStar bi bi-star mx-1"></i>
                }
    </div>
    <div>
        <p>@Model.SumOfRatings ratings / @Model.NumOfRatings reviews</p>
    </div>

    @*************************************   FORM    **********************************************************@
    <form class="mt-5 left-side col-xxl-9" ajax-poziv="da">
        <input asp-for="Review.ProductId" hidden>
        <div class="what-did-you-think">What did you think?</div>
        <div onmouseout="createSelected()" class="py-1 px-1">
          <span language="javascript" id="icon1" onmouseout="creteOut(1)" onmouseover="createOver(1)" onclick="createClick(1)" class="ratingStar bi bi-star icon-star mx-1"></span>
          <i id="icon2" onmouseout="creteOut(2)" onmouseover="createOver(2)" onclick="createClick(2)" class="ratingStar bi bi-star icon-star mx-1"></i>
          <i id="icon3" onmouseout="creteOut(3)" onmouseover="createOver(3)" onclick="createClick(3)" class="ratingStar bi bi-star icon-star mx-1"></i>
          <i id="icon4" onmouseout="creteOut(4)" onmouseover="createOver(4)" onclick="createClick(4)" class="ratingStar bi bi-star icon-star mx-1"></i>
          <i id="icon5" onmouseout="creteOut(5)" onmouseover="createOver(5)" onclick="createClick(5)" class="ratingStar bi bi-star icon-star mx-1"></i>  
        </div>
        <div>
            <input type="hidden" id="lblRating" asp-for="Review.Rating"/>
        </div>
        @*<div class="py-1 px-1">
             <img class="icon-star mx-1" src="~/icons/star.png" width="30" height="30">
             <img class="icon-star mx-1" src="~/icons/star.png" width="30" height="30">
             <img class="icon-star mx-1" src="~/icons/star.png" width="30" height="30">
             <img class="icon-star mx-1" src="~/icons/star.png" width="30" height="30">
             <img class="icon-star mx-1" src="~/icons/star.png" width="30" height="30">
        </div>*@
        <div class="write-review my-1"><strong>Write a review</strong> (optional)</div>
        <textarea id="txtComment" asp-for="Review.Comment" class="form-control textarea-review" placeholder="Tell others what you thought of @Model.Title"></textarea>
        <input id="submitReview" type="submit" class="btn btn-primary active mb-5" name="saveReview" value="Submit Review"> 
    </form>
    <h4>Readers reviews</h4>

 

   @foreach(var r in @Model.Reviews)
      { <hr />
         <div class="row">
            <div class="col-xxl-3">
                <p>@r.ApplicationUser.Name</p>
                @for(int i=0; i<r.Rating;i++)
                {
                    <i class="ratingStar bi bi-star-fill mx-1"></i> 
                }
                @for(int i=r.Rating; i<5; i++)
                {
                    
                    <i class="ratingStar bi bi-star mx-1"></i>
                }
            </div>
            <div class="col-xxl-8">
                <p>@r.Comment</p>
            </div>
        </div>
      }
</div>
}
else
{
    <div class="container review">
        <h1>No reviews for this book</h1>
   </div>

    <form class="mt-5 left-side col-xxl-9">
        <div class="what-did-you-think">What did you think?</div>
        <div onmouseout="createSelected()" class="py-1 px-1"> 
          <span language="javascript" id="icon1" onmouseout="creteOut(1)" onmouseover="createOver(1)" onclick="createClick(1)" class="ratingStar bi bi-star icon-star mx-1"></span>
          <i id="icon2" onmouseout="creteOut(2)" onmouseover="createOver(2)" onclick="createClick(2)" class="ratingStar bi bi-star icon-star mx-1"></i>
          <i id="icon3" onmouseout="creteOut(3)" onmouseover="createOver(3)" onclick="createClick(3)" class="ratingStar bi bi-star icon-star mx-1"></i>
          <i id="icon4" onmouseout="creteOut(4)" onmouseover="createOver(4)" onclick="createClick(4)" class="ratingStar bi bi-star icon-star mx-1"></i>
          <i id="icon5" onmouseout="creteOut(5)" onmouseover="createOver(5)" onclick="createClick(5)" class="ratingStar bi bi-star icon-star mx-1"></i> 
        </div>
        <div>
            <input type="hidden" id="lblRating" asp-for="Review.Rating"/>
        </div>
        @*<div class="py-1 px-1">
             <img class="icon-star mx-1" src="~/icons/star.png" width="30" height="30">
             <img class="icon-star mx-1" src="~/icons/star.png" width="30" height="30">
             <img class="icon-star mx-1" src="~/icons/star.png" width="30" height="30">
             <img class="icon-star mx-1" src="~/icons/star.png" width="30" height="30">
             <img class="icon-star mx-1" src="~/icons/star.png" width="30" height="30">
        </div>*@
        <div class="write-review my-1"><strong>Write a review</strong> (optional)</div>
        <textarea id="txtComment" asp-for="Review.Comment" class="form-control textarea-review" placeholder="Tell others what you thought of @Model.Title"></textarea>
        <input id="submitReview" type="submit" class="btn btn-primary active mb-5" name="saveReview" value="Submit Review"> 
    </form>
}

<script>
    $(document).ready(function() {

    $("form[ajax-poziv='da']").submit(function(event) {

        var rating = $("#lblRating").val();
        var comment = $("#txtComment").val();
        if (rating == 0) {
            alert("Please select Rating");
            return false;
        }
        else {
            if (comment == "") {
                alert("Please input comment");
                return false;
            }
            else {
                event.preventDefault();
                var urlZaPoziv = '@Url.Action("PostReviews", "Home")';
                var divZaRezultat = $(this).attr("ajax-rezultat");

                var form = $(this);


                alert(form.serialize());

                $.ajax({
                    type: "POST",
                    url: urlZaPoziv,
                    data: form.serialize(),
                    success: function(data) {
                        $("#loadReviewComponent").html(data);
                    }
                });
            }
        }

    });

    //$('#submitReview').click(function() {
    //    var id = @Model.Reviews.First().ProductId;
    //    var _url = '@Url.Action("GetReviewComponent", "Home")';
    //    var urlPost = '@Url.Action("PostReviews", "Home")';
    //    $.ajax({
    //        type: "POST",
    //        url: urlPost,
    //        data: { id: id },
    //        success: function(result) {
    //            $("#loadReviewComponent").html(result);
    //        },
    //    });
    //    //$.ajax({
    //    //    type: "GET",
    //    //    url: _url,
    //    //    data: { id: id },
    //    //    success: function(result) {
    //    //        $("#loadReviewComponent").html(result);
    //    //    },
    //    //});
    //}

    });
</script>




